# === GLOBAL ===
.DS_Store
*.log

# === FRONTEND ===
frontend/adminpanel/node_modules/
frontend/adminpanel/.env
frontend/adminpanel/.vscode/
frontend/adminpanel/build/

frontend/foodies/node_modules/
frontend/foodies/.env
frontend/foodies/.vscode/
frontend/foodies/build/

# === BACKEND ===
backend/target/
backend/.idea/
backend/.env
*.iml

# === OS Files ===
Thumbs.db
ehthumbs.db
